
# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [36]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [37]:
# obtain csv file and set as DataFrame
weather_file = "../output_data/weather_data_file.csv"
weather_df = pd.read_csv(weather_file)
weather_df

,City,Lat,Lng,Max_temp,Humidity,Cloudiness,Wind_speed,Country,Date
0,aasiaat,68.7098,-52.8699,27.55,82,100,3.02,GL,1621056323
1,abatskoye,56.2875,70.4555,79.38,35,18,10.45,RU,1621056401
2,abha,18.2164,42.5053,73.40,43,20,4.61,SA,1621056266
3,abu dhabi,24.4667,54.3667,89.60,62,0,4.61,AE,1621056155
4,aburi,5.8472,-0.1775,80.60,89,0,6.91,GH,1621056330
...,...,...,...,...,...,...,...,...,...
566,zhanaozen,43.3000,52.8000,79.93,22,1,13.98,KZ,1621056422
567,zheleznodorozhnyy,55.7503,38.0042,66.20,88,0,2.24,RU,1621056314
568,zhigansk,66.7697,123.3711,52.45,44,100,19.22,RU,1621056394
569,zhongxing,33.7039,118.6792,71.35,97,100,4.63,CN,1621056328
570,zuwarah,32.9312,12.0820,66.78,78,0,18.30,LY,1621056320

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [38]:
# Configure gmaps
gmaps.configure(api_key=g_key)

In [39]:
# Use the Lat and Lng as locations and Humidity as the weight.
locations = weather_df[["Lat","Lng"]].astype(float)
weight = weather_df["Humidity"].astype(float)

In [40]:
# Create Heatmaap
figure_layout = {
    'width': '600px',
    'height': '400px',
    'border': '2px solid black',
    'padding': '6px',
    'margin': '0 auto 0 auto'
}
fig = gmaps.figure(layout=figure_layout,center=(44.0, -5.0), zoom_level=1)
fig.add_layer(gmaps.heatmap_layer(locations, weights=weight))
fig

Figure(layout=FigureLayout(border='2px solid black', height='400px', margin='0 auto 0 auto', padding='6px', wi…

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [45]:
# Narrow down cities to fit 
# Ideal weather


weather_df["Max_temp"].max()

new_weather_df = pd.DataFrame(weather_df.loc[(weather_df["Max_temp"] > 60) & (weather_df["Max_temp"] < 70) & (weather_df["Cloudiness"] == 20), :])
new_weather_df.set_index("City")

,Lat,Lng,Max_temp,Humidity,Cloudiness,Wind_speed,Country,Date
City,,,,,,,,
balkhash,46.8440,74.9804,68.0,30,20,15.66,KZ,1621056450
beira,-19.8436,34.8389,68.0,94,20,7.23,MZ,1621056308
inhambane,-23.8650,35.3833,68.0,83,20,7.16,MZ,1621056361
ponta do sol,32.6667,-17.1000,66.2,59,20,17.27,PT,1621056306
portland,45.5234,-122.6762,64.0,55,20,13.80,US,1621055754
praia da vitoria,38.7333,-27.0667,66.2,88,20,13.62,PT,1621056252
puerto del rosario,28.5004,-13.8627,66.2,77,20,27.63,ES,1621056430

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [46]:
# Create new dataframe called hotel_df

hotel_df = pd.DataFrame(new_weather_df)
hotel_df["Hotel Name"] = ""

In [47]:
hotel_df

,City,Lat,Lng,Max_temp,Humidity,Cloudiness,Wind_speed,Country,Date,Hotel Name
45,balkhash,46.8440,74.9804,68.0,30,20,15.66,KZ,1621056450,
61,beira,-19.8436,34.8389,68.0,94,20,7.23,MZ,1621056308,
201,inhambane,-23.8650,35.3833,68.0,83,20,7.16,MZ,1621056361,
390,ponta do sol,32.6667,-17.1000,66.2,59,20,17.27,PT,1621056306,
399,portland,45.5234,-122.6762,64.0,55,20,13.80,US,1621055754,
402,praia da vitoria,38.7333,-27.0667,66.2,88,20,13.62,PT,1621056252,
410,puerto del rosario,28.5004,-13.8627,66.2,77,20,27.63,ES,1621056430,

In [48]:
# set parameter to search for hotel witihn 5000 meters an dfind coordinates

def geocode(address):
    '''
    This is function that takes a string address and returns the latitude and longitude
    '''
    gparams = dict(address=address, key=g_key)
    # Build the endpoint URL
    target_url = f"https://maps.googleapis.com/maps/api/geocode/json"
    geo_data = requests.get(target_url, params=gparams).json()
    try:
        lat = geo_data["results"][0]["geometry"]["location"]["lat"]
        lng = geo_data["results"][0]["geometry"]["location"]["lng"]
    except:
        lat = None
        lng = None
    return lat, lng

In [49]:
# params dictionary to update each iteration
params = {
    "radius": 50000,
    "types": "lodging",
    "key": g_key
}

# Use the lat/lng we recovered to identify airports
for index, row in hotel_df.iterrows():
    # get lat, lng from df
    lat = row["Lat"]
    lng = row["Lng"]

    # change location each iteration while leaving original params in place
    params["location"] = f"{lat},{lng}"

    # Use the search term: "International Airport" and our lat/lng
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # make request and print url
    name_address = requests.get(base_url, params=params)
    
#     print the name_address url, avoid doing for public github repos in order to avoid exposing key

#print(name_address.url)

    # convert to json
    name_address = name_address.json()
    # print(json.dumps(name_address, indent=4, sort_keys=True))

    # Since some data may be missing we incorporate a try-except to skip any that are missing a data point.
    try:
        hotel_df.loc[index, "Hotel Name"] = name_address["results"][0]["name"]
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")

In [50]:
hotel_df

,City,Lat,Lng,Max_temp,Humidity,Cloudiness,Wind_speed,Country,Date,Hotel Name
45,balkhash,46.8440,74.9804,68.0,30,20,15.66,KZ,1621056450,Family
61,beira,-19.8436,34.8389,68.0,94,20,7.23,MZ,1621056308,Beira Terrace Hotel
201,inhambane,-23.8650,35.3833,68.0,83,20,7.16,MZ,1621056361,Lobster Chalets
390,ponta do sol,32.6667,-17.1000,66.2,59,20,17.27,PT,1621056306,Golden Residence Hotel
399,portland,45.5234,-122.6762,64.0,55,20,13.80,US,1621055754,Embassy Suites by Hilton Portland Downtown
402,praia da vitoria,38.7333,-27.0667,66.2,88,20,13.62,PT,1621056252,Terceira Mar Hotel
410,puerto del rosario,28.5004,-13.8627,66.2,77,20,27.63,ES,1621056430,Hotel JM Puerto del Rosario

In [51]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [52]:
# Add marker layer ontop of heat map
marker_layer = gmaps.marker_layer(info_box_content=hotel_info, locations=locations)
fig.add_layer(marker_layer)

# Display figure
fig

Figure(layout=FigureLayout(border='2px solid black', height='400px', margin='0 auto 0 auto', padding='6px', wi…